body {
  overflow: auto;
}

.hidden {
  display: none !important;
}

.background-pic {
  position: fixed;
  left: -50%;
  top: 0;
  min-height: 100vh;
  min-width: 900px;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.4;
}

.main-container,
.heading-container,
.image-container {
  max-width: 575px;
  margin: 0 auto;
  height: 100%;
}

@media screen and (min-width: 575px) {
  .background-pic {
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .main-container,
  .heading-container,
  .image-container {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
  }
}
