.hidden {
  display: none !important;
}

.main-container,
.heading-container,
.image-container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .main-container,
  .heading-container,
  .image-container {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
  }
}
