body {
  font-family: 'Montserrat', sans-serif;
}

header {
  position: relative;
  z-index: 3;
  background-color: hsla(215, 50%, 24%, 0.75);
  height: 5rem;
  width: 100%;
  box-shadow: 3px 3px 10px gray;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h1 {
  font-size: 1.75em;
  margin-block-end: 0;
}

/* .main-header {
  margin-block-end: 0;
} */
h4 {
  margin: 5px 0 0 0;
}

img {
  width: 100%;
  height: 100%;
}

input,
button {
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  border: none;
}

input {
  padding: 5px 15px;
  width: 200px;
  font-size: 1.25rem;
  height: 35px;
}

.normal {
  color: white;
}

.clouds {
  background-color: #687179d8;
  color: white;
}

.clear {
  background-color: #1f57ffd8;
  color: #fac934;
}

.snow {
  background-color: #fffafad8;
  color: #b7c7d5;
}

.rain {
  background-color: #224a8bd8;
  color: #b2ddff;
}

.column-full {
  width: 100%;
}

.column-most {
  width: 75%;
}

.column-some {
  width: 25%;
}

.column-half {
  width: 50%;
}

.row {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.space {
  justify-content: space-around;
}

.capitalize {
  text-transform: capitalize;
}

.content {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 1rem;
}

.heading-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.main-container {
  position: relative;
  z-index: 2;
}

.button-container {
  text-align: center;
}

.weather-container {
  margin: 10% 5% 5% 5%;
  text-align: center;
  padding: 2.5%;
  text-shadow: 2px 3px 5px rgba(146, 145, 145, 0.75);
  box-shadow: 2px 2px 7px black;
  border-radius: 0.5rem;
  background-color: rgba(219, 211, 211, 0.35);
}

.search-container {
  margin-top: 40%;
  margin-bottom: 40%;
  text-align: center;
  text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.6);
}

.view-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.image-container {
  margin: 5%;
  position: relative;
}

.view-image-pic {
  margin: 2.5%;
  width: 45%;
  height: 45%;
  box-shadow: 2px 2px 5px gray;
  border-radius: 0.5rem;
  max-height: 50%;
}

.view-image-pic:active {
  background-color: rgb(78, 57, 57);
  box-shadow: 0 5px rgb(8, 8, 8);
  transform: translateY(5px);
}

.view-one {
  position: absolute;
  margin: 2rem 1rem;
  padding-bottom: 5%;
  box-shadow: 7px 7px 15px rgb(78, 57, 57);
  text-shadow: 2px 2px 4px gray;
  text-align: center;
  border-radius: 0.5rem;
  z-index: 4;
}

.main-pic {
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px gray;
}

::placeholder {
  color: lightgray;
  text-align: center;
}

.homepage-buttons {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.go-button {
  padding: 5px 15px;
  background-color: rgba(69, 123, 157, 0.65);
  color: rgb(241, 250, 238);
  margin-top: 20px;
}

.get-button {
  width: 200px;
  height: 50px;
  background-color: rgba(69, 123, 157, 0.65);
  color: rgb(241, 250, 238);
  font-size: large;
  margin: auto;
}

.random-button {
  height: 50px;
  width: 200px;
  font-size: large;
  margin: auto;
  background-color: #9dcaccdc;
  color: rgb(255, 255, 255);
}

.view-button {
  height: 50px;
  width: 200px;
  font-size: larger;
  background-color: rgba(230, 57, 70, 0.65);
  color: rgb(241, 250, 238);
  margin: auto;
}

.back-button {
  /* position: absolute; */
  top: 3rem;
  left: 0.75rem;
  font-size: larger;
  color: rgb(241, 250, 238);
}

.view-saved {
  /* position: absolute; */
  top: 3rem;
  right: 0.75rem;
  font-size: large;
  color: rgb(241, 250, 238);
}

.delete-button {
  width: 100px;
  height: 40px;
  background-color: rgba(69, 123, 157, 0.65);
  color: rgb(241, 250, 238);
}

.save-button {
  margin: 5%;
  float: right;
  font-size: large;
  color: black;
}

button:focus {
  outline: none;
}

.random-button:hover {
  background-color: #7edde2;
}

.random-button:active {
  background-color: #7fcdd1;
  box-shadow: 0 5px #488a8d;
  transform: translateY(4px);
}

.save-button:hover {
  color: rgb(236, 47, 63);
}

.save-button:active {
  color: rgb(236, 47, 63);
  transform: translateY(4px);
}

.delete-button:hover,
.get-button:hover,
.go-button:hover {
  background-color: rgba(0, 157, 255, 1);
}

.delete-button:active,
.get-button:active,
.go-button:active {
  background-color: rgb(0, 157, 255);
  box-shadow: 0 5px rgba(2, 94, 151, 1);
  transform: translateY(4px);
}

.view-saved:hover,
.back-button:hover {
  color: #7edde2;
}

.view-saved:active,
.back-button:active {
  transform: translateY(4px);
}

.view-button:hover {
  background-color: rgb(236, 47, 63);
}

.view-button:active {
  background-color: rgb(236, 47, 63);
  box-shadow: 0 5px rgb(145, 2, 14);
  transform: translateY(4px);
}

button:hover,
.go-button:hover,
.view-image-pic:hover {
  cursor: pointer;
}

.view-image-pic:hover {
  box-shadow: 7px 7px 20px rgb(78, 57, 57);
}

.loader {
  z-index: 2;
  position: absolute;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading {
  width: 4rem;
  height: 4rem;
}

.big-heart {
  color: rgba(236, 47, 63, 0.75);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(226, 226, 226, 0.75);
  z-index: 1;
}

.error-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(184, 172, 172, 0.664);
  z-index: 1;
}

.nav-buttons {
  margin: 0 1rem 0.5rem 1rem;
}

.heading-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 1rem;
}

.pop-up {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  width: 50%;
  height: 20%;
  top: 40%;
  left: 25%;
  background-color: rgba(0, 157, 255, 0.719);
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 1rem;
}
